#headBg {
    padding: 0;
    height: 40vh;
    position: relative;
    background-image: url(../img/ftnss3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000000c2;
    }
    .type {
        color: $white;
        font-size: 45px;
    }
}
#mainCategories {
    .categories {
        display: inline-block;
        select {
            padding: 10px;
            border-color: $main;
            border-radius: 5px;
            &:focus {
                outline: none;
            }
        }
    }
    
    

    
}