body {
    font-family: $font;
    color: $black;
    background-color: $bg;
    // font-size: $text;
    transition: all 0.5s;
}
a {
    color: $black;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: $black;
    }
}
ul {
    margin: 0;
}
li {
    list-style-type: none;
}
section {
    padding: 60px 0px;
}
