.blockHeader {
    background: $white;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    color: $black;
    position: relative;
    a {
        color: $black!important;
    }
    h1 {
        a {
            color: $main!important;
        }
    }
    li {
        &::before , &::after {
            background: $main!important;
        }
    }
    .iDown {
        li {
            a {
                &:hover {
                    transform: translate(5px);
                    color: $main!important;
                }
                
            }
                
        }
    }
    .iBtn {
        color: $main!important;
        &:hover {
            background: $main!important;
            color: $white!important;

            &::before {
                content: none;
            }
            // color: $main!important;
        }
    }
    
}
.scrolled {
    transition: all 0.5s ease-in-out;
    position: fixed;
    background: $white;

}
#contact {
    input ,textarea {
        border-color: $main;
    }
    .foxholder-form__overlay{
        background: $main;
    }
    label {
        font-size: 14px;
    }
    .cntct {
        .cn {
            margin-bottom: 20px;
            i {
                width: 25px;
                height: 25px;
                text-align: center;
                font-size: 25px;
                color: $main;
                margin-right: 10px;
            }
            a {
                font-style: italic;
                transition: all 0.3s;
                &:hover {
                    color: $main
                }
            }
        }
        
    }
    .exm {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 2px;
            height: 100%;
            left: -5%;
            background: $main;
        }
    }
    .iBtn {
        background: $main;
        color: $white;
        &:hover {
            color: $main;
            &::before {
                background: $white;
            }
        }
    }
}
.cntct {
    .cn {
        margin-bottom: 20px;
        i {
            width: 25px;
            height: 25px;
            text-align: center;
            font-size: 25px;
            color: $main;
            margin-right: 10px;
            vertical-align: middle;
        }
        p {
            font-size: 15px;
            display: inline-block;
            margin: 0;
        }
        a,p {
            font-style: italic;
            transition: all 0.3s;
            &:hover {
                color: $main
            }
        }
    }
    
}