//desktop
@media (max-width: 1200px) {
    footer {
        // .socials {
        //     text-align: right;
        // }
    }
}

//tablet
@media (max-width: 992px) {
    
    header {
        .col-lg-9 {
            .desktop {
                display: none;
            }
            .menu {
                display: block;
            }
        }
    }

    footer {
        .copy {
            text-align: right;
        }
        .socials {
            text-align: center!important;
        }
    }
}

//small tablet
@media (max-width: 768px) {
    #health {
        display: none;
    }
    footer {
        .copy {
            p {
                font-size: 10px;
            }
        }
        
    }
}

//phone
@media (max-width: 576px) {
    #categories {
        .card {
            h3 {
                font-size: 27px;
            }
        }
    }
}