//font

$font: 'Comfortaa', cursive;
$handW: 'Srisakdi', cursive;
// $handW2: 'Italianno', cursive;

//color 
$black: #333;
$white: #fff;
// $main: #1ba974;

// $main: #2F2FA2;
// $main: #659DBD;

$main: #bb0000;
$bg: #f8f9fa;
$bg2: #e6eef2;